.product__box {
    max-width: 500px;
    width: 100%;
    border-radius: var(--Border);
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.product__imageBox {
    width: 100%;
    object-fit: fit;
}

.product__image {
    width: 100%;
}

.product__title {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--Black);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
}

.product__description {
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1px;
    font-weight: 100;
    padding: 0 2rem;
}